<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AccInitServlet</servlet-name>
    <servlet-class>com.cqx.acc.servlet.AccInitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccInitServlet</servlet-name>
    <url-pattern>/servlet/AccInitServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>AccMainFilter</filter-name>
  	<filter-class>com.cqx.acc.servlet.AccMainFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AccMainFilter</filter-name>
  	<url-pattern>/main/*</url-pattern>
  </filter-mapping>
  
</web-app>